html,
body {
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: black;
}

canvas {
  display: block;
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	width: 2px;
	border: 1px solid #4169E1 ; /* mediumpurple */
}

::-webkit-scrollbar-thumb {
	background: rgb(80,90,160) ; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(100,112,255) ;  
}
